.product-image-container {
    background-color: var(--color-white);
    padding: 10px 5px;
    margin: 0px;
}

.product-image-container h1 {
    font-weight: bold;
    font-size: var(--font-size-xl);
	color: var(--color-gray);
    text-align: center;
}

.product-image-main img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.product-image-main {
    height: fit-content;
}

.product-image-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-image-aside img {
    width: auto;
    object-fit: contain;
}


