.fill-main {
	background-color: #fff;
	padding-top: 40px;
	box-shadow: 1px 1px 10px #a9a9a9;
	border-radius: 5px;
}
.fill-icon-car {
	background-color: #fffce4;
	border: 1px solid #ebe9d4;
}
.fill-info {
	padding-top: 60px;
}
.fill-info h2 {
	text-align: left;
	font-size: 32px;
	font-weight: bold;
	color: #4a4a4a;
}
.fill-dot {
	font-size: 32px;
	color: #ff4157;
	font-weight: bold;
	display: inline-block;
	width: 70%;
	padding: 5px;
}
.fill-element {
	margin-bottom: 15px;
}
.fill-element p {
	font-size: 24px;
	font-weight: bold;
	color: #a4a4a4;
}
.fill-element input {
	border: none;
	outline: none;
	border-bottom: 0.5px solid #cacaca;
	text-align: left;
	font-size: 24px;
	color: #4a4a4a;
	font-weight: bold;
}
.fill-line {
	width: 40%;
	display: inline-block;
	height: 3px;
	background-color: #cacaca;
	margin: auto;
	opacity: 0.54;
	margin-bottom: 15px;
	margin-top: 15px;
}
.fill-mount button {
	width: 25px;
	height: 25px;
	line-height: 25px;
	padding: 0 !important;
	color: #fff;
	font-weight: bold;
	font-size: 100%;
	border-radius: 100%;
	background-color: #6f6f6f;
}
.fill-mount input {
	width: 60px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #4a4a4a;
	border: none;
	outline: none;
}
.fill-total p {
	color: #4a4a4a;
	font-weight: bold;
}
.fill-total span {
	color: #ef2840;
	font-size: 24px;
	font-weight: bold;

}
.btn-order {
	font-size: 100%;
	border: none;
	background-color: transparent;
	border: 1px solid #f46979;
	color: #f46979;
	border-radius: 20px;
	padding: 5px 25px !important;
	transition: 0.6s all ease;
}
.btn-order:hover {
	background-color: #f46979;
	color: #fff;
	font-weight: bold;
	transition: 0.6s all ease;
}
.btn-order i {
	margin-right: 5px;
}
.fill-button {
	margin: 20px auto;
}


@media only screen and (max-width: 992px) {
	.fill-info h2 {
		font-size: 25px;
		text-align: center;
	}
	.fill-dot {
		font-size: 25px;
	}
	.fill-info {
		padding-top: 10px;
	}
	.fill-element p {
		font-size: 17px;
	}
	.fill-element input {
		font-size: 17px;
	}
	.fill-line {
		height: 2px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.fill-mount button {
		width: 18px;
		height: 18px;
		line-height: 18px;
	}
	.fill-total span {
		font-size: 17px;
	}
	.fill-element {
		margin-bottom: 10px;
	}
	.btn-order {
		padding: 0 !important;
	}
}