

  header {
    background-color: #4b4b4d;
    height: 100px;
  }

  .header-container{
    position: relative;
    height: 100px;
  }

  .header-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
  }

  .header-logo img {
      height: 60px;
      width: auto;
      object-fit: contain;
  }

  .header-icon {
    text-align: end;
  }

  .header-icon a {
    padding: 10px;
    color: #fac917;
    line-height: 100px;
  }