:root{
  --dimention-circle-point: 60px;
  --height-line-gradient: 10px;
  --dimention-circle-point-run: 30px;
  --run-percent: 0%;
  --run-really: calc(var(--run-percent) - calc((var(--dimention-circle-point-run)) / 2));
  --font-size-xl: 30px;
  --font-size-lg: 24px;
  --font-size-md: 18px;
  --font-size-sm: 14px;
  --font-size-xs: 10px;
  --color-yellow: #fae80e;
  --color-black: black;
  --color-gray: #777777;
  --color-gray-50: #a9a9a9;
  --color-red: #ef2840; 
  --color-white: #fff;
  --color-white-50: #e4e4e4;
}

@media screen and (min-width: 768px) {
  
}

body {
  background-color: var(--color-white-50);
}